html, body, div, header, ul {
    margin: 0;
}

html, body {
    height: 100%;
}

p, h1, input, a {
    font-family: Arial, Helvetica, sans-serif;
} 

body {
    background-color: #333;
    color: #fff;
}

a {
    color: rgb(31, 147, 255);
}


/* for mobile*/
.hero-image {
    background-image: url("https://cdna.artstation.com/p/assets/images/images/018/595/694/large/katie-van-sanitygamedev.jpg?1559955165");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150vw;
    position: relative;
}

.hero-image p{
    margin-top: 22px;
    margin-bottom: 8px;
    width: 350px;
}

.email-box{
    padding-top: 5px;
    padding-bottom: 30px;
}

input {
    padding: 8px 18px;
}

.submit {
    margin-left: -4px;
    border-style: solid;
    border-color: orange;
    background-color: orange;
    cursor: pointer;
    font-weight: 700;
}

.vertically-padded {
    position: absolute;
    top: Calc(15%);
    width: 100%;
}

/* for tablets */
@media only screen and (min-width: 550px) {
    .hero-image {
        height: 110vw;
    }

    .vertically-padded {
        top: Calc(15% + 0.2vw);
    }

  }

/* for desktop, laptop */
@media only screen and (min-width: 900px) {
    .hero-image {
        height: 56.25vw;
    }
  }

.transparent-black {
    background-color: rgba(0, 0, 0, 0.5);
    width: 40%;
    min-width: 350px;
    margin: auto;
}

#logo {
    width: 20%;
    min-width: 250px;
    display: block;
    padding: 5px;
    padding-top: 10px;
    margin-top: 5px;
}

.centered-content {
    margin: auto;
    width: 60%;
    min-width: 350px;
    text-align: center;
}

/* for desktop */
@media only screen and (min-width: 1600px) {
    .centered-content {
        width: 100%;
    }
  }

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

.description {
    margin-top: 15px;
}

header.nav {
   /* z-index: 1;
    position: fixed;
    width: Calc(100% - 12px); */
    background-color: #38ce6e;
    padding: 0px;
}

/* don't display on mobile */
nav.table {
    display: none;
}

#hamburger-menu {
    padding-left: 5px;
    cursor: pointer;
}

#hamburger-menu:hover {
    background-color: white;
}

/* for desktop */
@media only screen and (min-width: 850px) {
    
    #hamburger-menu {
        display: none;
    }

    nav.table {
        display: block;
    }

    header.nav {
        padding: 6px;
    }

    ul#horizontal-list {
        list-style: none;
        padding: 10px;
        text-align: center;
        }
        ul#horizontal-list li {
            display: inline;
        }
            ul#horizontal-list li a {
                color: #e2e2e2;
                text-decoration: none;
                cursor: pointer;
                padding: 18px 30px;
                font-weight: 700;
                color: black;
            }
            ul#horizontal-list li a:hover {
                background-color: white;
            }
  }

.sign-up-text {
    font-size: 14px;
}

.email {
    margin: auto;
    width: 60%;
    min-width: 350px;
}

